/*Bloom*/
@keyframes bloom {
	0% {
		box-shadow: 0 0 0 transparent;
	} 10% {
		box-shadow: 0 0 12px #fa1b27;
	} 100% {
		box-shadow: 0 0 0 transparent;
	}
}

/*Rotation*/
@keyframes rotate {
	from {
		transform: rotate(0);
	} to {
		transform: rotate(360deg);
	}
}

/*Fadeout*/
@keyframes fadeout {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

/*Background blink*/
@keyframes bg-blink {
	from {
		box-shadow: 0 0 0 transparent;
	} to {
		box-shadow: 0 0 8px #dc143c;
	}
}
